.footer {
  width: 100%;
  background-color: #0e243d; /* dark blue */
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #0e243d;
  position: fixed; /* fixed at bottom */
  bottom: 0;
}

.footer-btn {
  background: none;
  border: none;
  color: #fddc5c; /* yellow icons + text */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.footer-btn:hover {
  opacity: 0.8;
}

.footer-icon {
  font-size: 22px;
}
