.navbar {
  height: 80px;
  width: 100%;
  max-width: 100%;
  margin: 1;
  box-sizing: border-box;
  background-color: #0e243d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px; 
  position: relative;
}


/* Left section (logo + name) */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.logo-text strong {
  font-size: 25px;
  display: block;
}
