.navbar {
  height: 60px;
  background-color: #0e243d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; 
  overflow: hidden; /* PREVENTS navbar from growing */
}


/* Left section (logo + name) */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.logo-text strong {
  font-size: 25px;
  display: block;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .navbar-center {
    flex-wrap: wrap;
  }
}
