/* Container */
.safety-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh; /* fill screen */
  overflow-y: auto;  /* allow scrolling */
  padding: 0px 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #003169 !important; /* dark navy */
  padding-bottom: 100px; /* space for footer */
}

/* Page title */
.safety-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #fddc5c;
}

/* Page subtitle */
.safety-subheading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  padding: 1px;
}

/* Section block */
.safety-section {
  background: #0e243d;
  padding: 20px 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* Section header */
.section-title {
  font-size: 30px;
  font-weight: 750;
  margin-bottom: 12px;
  color: #fddc5c;
  margin-top: 5px;
}

/* Subsection header */
.section-subtitle {
  font-size: 24px;
  font-weight: 750;
  margin-bottom: 8px;
  color: #fae58f;
  
}

/* Section paragraph & list text */
.section-text {
  line-height: 1.6;
  font-size: 18px;
  color: #ffffff;
}

/* Optional list styling */
.safety-section ul {
  padding-left: 20px;
  margin-top: 10px;
}

.safety-section li {
  margin-bottom: 6px;
}
