html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* full screen */
}

/* The space between navbar and footer */
.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* prevents inner scrolling */
}